@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

  @font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #fff;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style-type: none;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 71px;
  padding-right: 72px;
}

.nav-list{
  margin: 0;
  margin-right: 50px;
  padding: 0;
  width: 410px;
  display: flex;
  flex-wrap: wrap;
}

.nav-link{
  display: block;
  padding: 20px 17px;
  font-family: PT Sans;
  color: #000;
  weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.nav-link:hover{
  text-decoration: underline 2px;
}

.logo-link{
  margin: 0 460px;
  position: absolute;
}

.user-list{
  margin: 0;
  margin-left: 169px;
  padding: 0;
  width: 290px;
  display: flex;
  flex-wrap: wrap;
}

.user-list-item{
  display: block;
  text-align: center;
  padding: 14px 10px;
}

.main-container{
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.welcome{
  margin: 0 auto;
  background-color: #fff;
  background-image: url(../img/index/background-top.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  text-align: center;
}

.appeal{
  padding-top: 63px;
  padding-bottom: 80px;
}

.appeal-title{
  margin: 0 auto;
  padding: 0;
  margin-bottom: 23px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 720px;
  text-transform: uppercase;
  color: #000;
}

.appeal-text{
  margin: 0 auto;
  padding: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.reason-list{
  margin: 0;
  padding: 0;
}

.reason-item{
  text-align: center;
}

.reason-title{
  margin: 0 auto;
  margin-bottom: 25px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  text-transform: uppercase;
  max-width: 190px;
}

.reason-number{
  margin: 0 auto;
  margin-bottom: 26px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.reason-text{
  margin: 0 auto;
  max-width: 250px;
}

.accent-title{
  color: #fff;
}

.accent{
  color: #fff;
  background-color: #83B3D3;
  display: flex;
  width: 1200px;
}

.reason-block-text{
  width: 250px;
  padding: 98px 75px 77px;
}

.reason-block{
  display: flex;
}

.light-shade{
  background-color: rgba(131, 179, 211, 0.12);
}

.dark-shade{
  background-color: rgba(131, 179, 211, 0.2);
}

.reason-extra-list{
  margin: 0;
  padding: 0;
  width: 1200px;
}

.reason-extra-item{
  text-align: center;
  width: 400px;
  padding-top: 165px;
  padding-bottom: 80px;
}

.reason-extra-title{
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
}

.reason-extra-text{
  margin: 0 auto;
  width: 250px;
}

.trip{
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.trip-title{
  margin: 0 auto;
  margin-bottom: 35px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.trip-text{
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  max-width: 600px;
}

.subscribe-index{
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
  color: #fff;
  background-color: #444;
  background-image: url(../img/index/background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.subscribe{
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 135px;
  width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.subscribe-title{
  margin: 0 auto;
  margin-bottom: 35px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.subscribe-index-title{
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
}

.subscribe-text{
  margin: 0 auto;
  margin-bottom: 46px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  width: 500px;
}

.contacts{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.contact-block{
  display: flex;
  width: 140px;
  margin-left: 72px;
}

.contacts-item{
  margin: 0 auto;
  padding-right: 30px;
}

.htmlacademy-logo{
  width: 115px;
  margin-right: 72px;
}

.contact-number{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
}

.option{
  color: #fff;
  background-color: #444;
  background-image: url(../img/hotel/catalog-background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.option-container{
  margin: 0 auto;
  padding-bottom: 85px;
  width: 1056px;
}

.hotel-title{
  margin: 0 auto;
  padding-top: 35px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  color: #fff;
}

.breadcrumbs{
  margin: 0;
  padding-bottom: 45px;
  display: flex;
  padding-inline-start: 0;
}

.breadcrumbs-item{
  padding-right: 26px;
}

.breadcrumbs-link{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.option-block{
  display: flex;
  justify-content: space-between;
}

.option-filter-group{
  margin: 0;
  padding: 0;
  border: 0;
}

.option-filter-list{
  padding: 0;
  padding-top: 30px;
}

.sorting-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-title{
  margin: 0 auto;
  width: 338px;
  margin-left: 71px;
}

.select-control{
  width: 160px;
  height: 48px;
  border-color: #E5E5E5;
  border-top-left-radius: 4px;
}

.services-options-list{
  margin: 0 auto;
  display: flex;
  width: 160px;
  margin-right: 72px;
}

.services-options-item{
  margin-right: 8px;
  padding: 17px 16px;
  border: solid #E5E5E5;
  border-radius: 4px;
}

.services-options-item:hover{
  border-color: #000;
}

.services-card-list{
  margin: 0;
  margin-left: 127px;
  margin-right: 17px;
  padding: 0;
}

.services-card{
  display: flex;
  margin: 0 auto;
  width: 1056px;
}

.card-content{
  padding-left: 37px;
  display: flex;
  justify-content: space-between;
  width: 839px;
}

.card-content-text{
  display: column;
}

.option-filter-title{
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.services-control{
  width: 287px;
  height: 48px;
  border-color: #E5E5E5;
}

.control-label{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
}

.services-card-item{
  padding: 30px 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  border-top: solid #E5E5E5 1px;
  padding: 30px 0;
}

.services-title{
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000;
}

.services-card-title{
  margin: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000;
}

.card-info{
  display: flex;
}

.card-content-text-info{
  display: flex;
  justify-content: space-between;
  width: 235px;
}

.rating-stars{
  padding-bottom: 63px;
}

.rating-text{
  background-color: #F2F2F2;
}

.button{
  display: inline;
  color: #fff;
  background-color: #83B3D3;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 9px 30px 10px 30px;
  height: max-content;
  border-radius: 4px;
}

.button-green{
  background-color: #7DB54F;
}

.header-button{
  font-family: PT Sans;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #fff;
  background-color: #756257;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 9px 23px 10px 23px;
  border-radius: 4px;
}

.button-reset{
  background-color: transparent;
}

.button-brown{
  background-color: #756257;
}

.button-trip{
  margin: 0 auto;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  padding: 13px 135px 17px 135px;
  text-transform: uppercase;
}

.button-subscribe{
  height: 60px;
  font-family: PT Sans;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  border-radius: 0 10px 10px 0;
  border: 0;
}

.button-option{
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}


.button-detail{
  margin-right: 8px;
  height: 18px;
  width: 151px;
}

.button-favorites{
  height: 37px;
  width: 160px;
}

.button-load-more-block{
  display: flex;
}

.button-load-more{
  margin: 30px auto;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 19px 240px 19px 240px;
  border-top: solid #E5E5E5 1px;
  border-bottom: solid #E5E5E5 1px;
}

.pagination{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 30px;
  width: 1056px;
  border-top: solid #E5E5E5 1px;
}

.pagination-list{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.pagination-item{
  border-radius: 4px;
  margin-right: 8px;
  padding: 17px 0;
  color: #fff;
  background-color: #83B3D3;
  width: 55px;
  text-align: center;
  border-radius: 4px;
}

.pagination-active{
  color: #000;
  background-color: #fff;
}

.newsletter-email{
  margin: 0;
  padding: 0;
}

.newsletter-form{
  display: flex;
  margin: 0 auto;

}

.field{
  padding: 0;
  width: 600px;
  height: 60px;
  border: 0;
  border-radius: 10px 0 0 10px;
  background-color: #F2F2F2;
}
