@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
  @font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;

}

.welcome{
  background-color: #444;
  background-image: url(img/index/background-top.jpg);
  width: 1200px;
  height: 485px;
  text-align: center;
}

}


.subscribe-index{
  color: #fff;
  background-color: #444;
  background-image: url(img/index/background.jpg);
  text-align: center;
}

.option{
  color: #fff;
  background-color: #444;
  background-image: url(img/hotel/catalog-background.jpg);

}
